{% extends 'layout.html.twig' %}

{% block header %}
    <h1>Список категорий</h1>
{% endblock %}

{% block content %}
    <div class="row list-group">
        {% for category in categories %}
            <article class="col-xs-12 list-group-item">
                <h4>
                    <a href="{{ path('category_show', {'id': category.id}) }}" class="read-more">{{ category.name }}</a>
                </h4>
                <small>
                    {{ category.description }}
                </small>
            </article>
        {% endfor %}
    </div>

    <div class="controls">
        <ul>
            <li>
                <a href="{{ path('category_new') }}">Создать категорию</a>
            </li>
        </ul>
    </div>
{% endblock %}
