{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    <nav>
        <ul>
            <li>
                <a href="{{ path('helkiper_blog_index') }}">Посты</a>
            </li>
            <li>
                <a href="{{ path('category_index') }}">Категории</a>
            </li>
        </ul>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}