<h4>Добавить коментарий</h4>

{{ form_start(new_comment_form, {'action': path('comment_new'), 'attr': {'class': 'main'}}) }}
    {{ form_widget(new_comment_form) }}
    <input type="submit" value="Добавить" />
{{ form_end(new_comment_form) }}
