<article class="col-xs-12 list-group-item">
    <p>
        <strong>{{ comment.author }}</strong>
        <span class="category pull-right">{{ comment.createdAt|date('Y-m-d') }}</span>
    </p>
    <p>
        <small>{{ comment.content }}</small>
    </p>
</article>