.read-more{
    background-color: #0a565c;
}

.category{
    background-color: #005cbf;
}

footer{
    background-color: gray;
    margin-bottom: 0;
    padding: 10px;
}

.post-image {
    width: 190px;
    float: left;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 10px 0;
}

.controls{
    clear: both;
    margin-top: 20px;
    border-top: 1px solid #0d747c;
    padding: 10px;
    line-height: 2.5em;
}

form.main div{
    clear: left;
    margin-bottom: 10px;
}
form.main  label{
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 100px;
    font-weight: bold;
    vertical-align: top;
    padding-top: 10px;
}
form.main  input[type="text"],
form.main  select{
    width: 500px;
    line-height: 26px;
    min-height: 26px;
}
form.main  textarea{
    width: 500px;
    height: 150px;
    line-height: 26px;
}
form.main input[type="submit"]{
    margin-left: 110px;
    line-height: 26px;
    min-height: 26px;
}